body {
  width: 350px;
  margin: 20px;

  background-color: #222;

  font-family: "Arial", "Yu Gothic UI", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 18px;
  color: snow;

  user-select: none;
}

h1 {
  font-size: 1.2rem;
}

.property {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;
}

.toggle-outer {
  width: 3rem;
  height: 1.5rem;
  margin: 0 1rem;
  display: inline;

  border-radius: 2rem;
  border: 2px solid snow;

  overflow: hidden;
}

.toggle-inner {
  width: calc(1.5rem - 4px - 2px);
  height: calc(1.5rem - 4px - 2px);

  margin: 2px 2px;

  border-radius: 50%;
  border: 1.5px solid snow;

  position: relative;
  left: 0;

  transition: 0.3s;
  animation-timing-function: ease-out;
}

.toggle-inner.show {
  left: 1.5rem;

  background-color: snow;
}

.button-outer {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  padding: 0;

  border-radius: 50%;
  border: none;
  outline: none;
  appearance: none;
}

.button-inner {
  width: calc(1.5rem - 4px - 2px);
  height: calc(1.5rem - 4px - 2px);
  margin: 1px;

  border-radius: 50%;
  border: 2px solid #222;

  background-color: snow;

  transition: 0.3s;
  animation-timing-function: ease-out;
}

.button-outer:focus > div {
  background-color: gray;
}

.gray {
  color: gray;
}

.bullet {
  margin-right: 0.3rem;
}

